.spinner-img {
  max-width: 50px;
  max-height: 50px;
  animation: spin 1.5s linear infinite;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
